@use '../../../assets/scss/variable' as *;

.section-features {
  padding: 20rem 10rem;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('/img/nat-4.jpg');
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -4.8rem;

  & > * {
    transform: skewY(7deg);
  }
}

.flex {
  display: flex;
  justify-content: space-around;

  & > * {
    width: 20%;
  }
}
